#taxon-results .taxon-result {
  background-color: #f0f0f0;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 1px;
}

#taxon-results .taxon-results-result img {
  margin-right: 5px;
  margin-left: 5px;
}

.taxon-result {
  cursor: pointer;
}

.taxon-help img {
  cursor: pointer;
}

.taxon-dialog-top {
  padding-left: 570px;
  color: darkred;
}

.taxon-dialog-close {
  cursor: pointer;
}

.taxon-help-dialog {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
  position: absolute;
  width: 600px;
  z-index: 999;
  display: block;
}

.taxon-dialog-body {
  overflow: auto;
  height: 100%;
}
